        <tr>
          <td>status: <%= status %></td>
          <br>
          <br>
          <td>error: <%= error %></td>
          <br>
          <br>
          <td>message: <%= message %></td>
          <br>
          <br>
          <td>stack: <%= stack %></td>
          <br>
          <br>
        </tr>